@charset "utf-8";
#contenu #texte #txtmodif p {
	font-size: 16px;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}
#contenu #texte #txtmodif h1 {
	font-size: 36px;
	font-weight: normal;
	color: #007700;
	text-align: center;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
.Style2 {
	font-size: 20px;
	color: #004400;
	font-weight: bold;
}
#contenu #texte #txtmodif h2 {
	font-size: 24px;
	font-weight: bold;
	color: #007700;
	margin: 0px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#contenu #texte #txtmodif h3 {
	font-size: 20px;
	font-weight: bold;
	color: #007700;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 40px;
}
#contenu #texte #txtmodif h4 {
	font-size: 18px;
	font-weight: bold;
	color: #007700;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 80px;
}
#contenu  #menulat  #menumodifmyc  p {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}
#contenu  #menulat  #menumodifmyc  ul  li  a {
	font-size: 16px;
	color: #004400;
	text-decoration: none;
}
#contenu  #menulat  #menumodifmyc  p  a {
	font-size: 18px;
	color: #004400;
	text-decoration: none;
}
#contenu  #menulat  #menumodifmyc  ul  li  a:hover {
	font-size: 16px;
	color: #DD0000;
	text-decoration: none;
}
#contenu  #menulat  #menumodifmyc  p  a:hover {
	font-size: 18px;
	color: #DD0000;
	text-decoration: none;
}
#menulat {
	position:absolute;
	width:200px;
	height:396px;
	z-index:50;
	left: 5px;
	top: 5px;
	background-color: #D2EE99;
	background-image: url(my_menu.jpg);
	background-repeat: no-repeat;
	background-position: top;
}
#texte {
	position:absolute;
	width:775px;
	height:600px;
	z-index:1;
	left: 215px;
	top: 5px;
}
#menumodifmyc {
	position:absolute;
	width:200px;
	height:378px;
	z-index:50;
}
#txtmodif {
	position:absolute;
	width:775px;
	height:600px;
	z-index:2;
}
.Style1 {
	font-size: 20px;
	color: #235720;
	font-weight: bold;
	text-align: center;
}
#contenu  #menulat  #menumodifmyc  .Style1 {
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#contenu  #menulat  #menumodifmyc  ul {
	font-size: 18px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	list-style-position: inside;
	list-style-type: none;
	padding: 0px;
}
.Style4 {
	font-size: 16px;
	color: #007700;
	font-weight: bold;
}
#contenu #texte #txtmodif h5 {
	font-size: 16px;
	font-weight: bold;
	color: #007700;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 120px;
}
.tablaccitemmyc {
	color: #008000;
	background-color: #F5FFE8;
	text-decoration: none;
}
#contenu  #texte  #txtmodif  .tablaccitemmyc:hover {
	color: #CC0000;
}
.tablacctitmyc {
	font-size: 18px;
	color: #007700;
	font-weight: bold;
	text-align: center;
	background-color: #EDFFCC;
	text-decoration: none;
}
#contenu    #texte    #txtmodif    a.tablacctitmyc:hover {
	color: #CC0000;
}
.titfichmyco {
	background-color: #F4FFEA;
	text-align: center;
}

.Style99     {
	color: #000000;
	text-decoration: none;
	font-size: 12px;
}
a.Style99:hover     {
	color: #0099CC;
	text-decoration: none;
}
#accdetail {
	position:absolute;
	width:54px;
	height:62px;
	z-index:1;
	left: 1px;
	top: 2px;
}
#accdetail #Imageacc {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
#accdetail p {
	margin-top: -5px;
}
h1    {
	font-size: 36px;
	font-weight: normal;
	color: #007700;
	text-align: center;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
h2    {
	font-size: 24px;
	font-weight: bold;
	color: #007700;
	margin: 0px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

.Stylemenutit {
	font-size: 20px;
	color: #235720;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding-top: 3px;
}
#contenu  #menulat  #menumodifmyc  a:hover {
	color: #CC0000;
	text-decoration: none;
}
